body{
    background:
    linear-gradient(to right, #3f5efb, #fc466b)
}

.wrapper {
    width: 70%;
    margin: auto;
    text-align: center;
}

h1{
    margin: 20px;
    font-size: 6rem;
    color: rgb(208, 214, 218);
}

.dice-area{
    margin: 0px 50px;
    text-align: center;
    display: inline-block;
}

p{
    color: rgb(208, 214, 218);
    font-size: 2.5rem;
}

img{
    width: 320px;
}
